os:
  - linux
  - osx
  
language: go

go:
  - master

before_install:
  # - go get -u github.com/golang/dep/cmd/dep
  # - dep ensure -v
  
script:
  - go test -v $(go list ./... | grep -v /vendor/) -cover
  - go build -v

after_success:
  - ls -laF
  - tar cvzf mocli.tar.gz mocli
  - ls -laF

before_deploy:
  - git describe --abbrev=0 --tags
