os:
  - linux
  - osx

language: go

go:
  - master

before_install: 
  # - go get -u github.com/golang/dep/cmd/dep
  # - dep ensure -v

script:
- go test -v $(go list ./... | grep -v /vendor/) -cover
- go build -v

after_success:
  - export FILE_TO_UPLOAD=mocli-${TRAVIS_TAG}-${TRAVIS_OS_NAME}-$(uname -m).tar.gz
  - tar cvzf ${FILE_TO_UPLOAD} mocli
  - ls -laF

deploy:
  provider: releases
  api_key:
    secure: ldzG+n92CICeD4HeRB74jRxPK51WiuMgjkwbLMyqjZpaPtLoRJADUPDng/qy88FNyuZlfSvOb8+r554e2lLNa7ddaKN58UzhDAqIAo54LaYA8RGNHZSH/Fy2gwchoedZlolJzdHWujyzNtOHEB2BHXJseYtALUiqNdSLy1oX8KhwKNiOBuZFFkCcDoDcOJ0ncjTuFgpxDLJu1F2vhiufnNFt7Sq8FFC9Dxa7viUurLln/Qv08m0yreg7YSeHoo4SssEnWU0K76EHyU5LifawOOxvxEoR5p4at3NWUX8E08MrjZs3/JwdXEU84Q5+8iOj/I24bYBInBfCYkB1Rsy/729ZSb+WMlR2RgUoE34W8t3iUkr6ii+Z5sPP8OFcAFvxq+ERKXS2SS3EFM5DisbbmiRFedxXNL3vQV3l0ar+HgRKVO6mqDuZAK21YLhJKiEpbIqa2cf58XSF5yTGd7cL4924TgbkjuJmw88wAxHlI+gQNbRLeK2zyU3kMy1MLV6BfKmC/aEEommgAY3Q+gTLT+rnNJY1EkK0NHe9dPawiM+ptLFqeNi7O2yz4HjuUPzyAn8oFcBe/cGjgUVdkuRzfyjK6raq98sLQlstLtu+C8FC9A49K2yBfDQy9M8kfLdSdAdhifFZBGX72pWsB+zZh5XLu8XFlGpSXWLc8ItyKgQ=
  file: '${FILE_TO_UPLOAD}'
  skip_cleanup: true
  overwrite: true
  on:
    tags: true
