version: "{build}"

platform: x64

branches:
  only:
    - master

clone_folder: c:\gopath\src\github.com\mobingilabs\mocli

environment:
  GOPATH: c:\gopath

install:  
  - echo %PATH%
  - echo %GOPATH%
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - go version
  - go env

build_script:
  - go build -v
  - go test -v ./pkg/check
  - go test -v ./pkg/pretty
  - go test -v ./cmd
  - go test -v ./client

after_build:
  - 7z a mocli-%APPVEYOR_REPO_TAG_NAME%-windows-amd64.zip %APPVEYOR_BUILD_FOLDER%\mocli.exe
  - dir /w
  
artifacts:
  - path: mocli-$(appveyor_repo_tag_name)-windows-amd64.zip
    name: mocli

deploy:
  description: 'Should be updated'
  provider: GitHub
  auth_token:
    secure: FI6YNxZmMUbbp8bZ96s5c9ayKq//yBalxavwX7RlmCVRS5yyi8Qrkr3CoSCt3wg3
  artifact: mocli
  draft: true
  on:
    branch: master
    appveyor_repo_tag: true
