version: "{build}"

platform: x64

branches:
  only:
    - master

clone_folder: c:\gopath\src\github.com\mobingilabs\mocli

environment:
  GOPATH: c:\gopath

install:  
  - echo %PATH%
  - echo %GOPATH%
  - set PATH=%GOPATH%\bin;c:\go\bin;%PATH%
  - go version
  - go env

build_script:
  # - go get -u github.com/golang/dep/cmd/dep
  # - dep ensure -v
  - go get -t -v ./...
  - go test -v ./...
  - go build -v
